@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons/icomoon.eot?jf4npe");
  src: url("../fonts/icons/icomoon.eot?jf4npe#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?jf4npe") format("truetype"), url("../fonts/icons/icomoon.woff?jf4npe") format("woff"), url("../fonts/icons/icomoon.svg?jf4npe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clip:before {
  content: "\e900";
  font-size: 22px;
  color: #211B12;
  transition: all 0.3s linear;
}

.icon-code:before {
  content: "\e901";
}

.icon-demo:before {
  content: "\e902";
}

.icon-github:before {
  content: "\e903";
  color: #3e75c3;
}

.icon-instagram:before {
  content: "\e904";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(127.77% 127.77% at 14.93% 100.35%, #FFB140 0%, #FF5445 25.6%, #FC2B82 59.9%, #8E40B7 100%);
}

.icon-linkedin:before {
  content: "\e905";
  color: #007ebb;
}

.icon-send:before {
  content: "\e906";
  margin: 0 5px 0 0;
}

.icon-telegram:before {
  content: "\e907";
  color: #229ed9;
}

/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 90;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
  transition: all 0.3s linear;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}
.header__burger {
  display: none;
}
.header__menu._scrolled {
  padding: 4px 8px 4px 8px;
  background: #FFF;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  margin: 0 0 0 24px;
}
.header__list li:first-child {
  margin: 0;
}
.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #BF7506;
  position: relative;
}
.header__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 0px;
  width: 100%;
  background: #BF7506;
  transition: all 0.2s linear;
}
.header__link:hover::after {
  height: 2px;
}

.container {
  max-width: 870px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__link._active {
  font-weight: 700;
}

.content {
  min-height: calc(100vh - 157px);
  padding: 60px 0 97px 0;
  overflow: hidden;
}

.speciality {
  color: #BF7506;
}

.hello {
  margin: 0 0 114px 0;
  overflow: hidden;
}
.hello__hand {
  position: absolute;
  top: 0;
  left: -200px;
  z-index: -1;
  transition: all 0.2s linear;
}
.hello__hand img {
  width: 100%;
}
.hello__hand._anim._active {
  -webkit-animation: hello 2s both linear;
          animation: hello 2s both linear;
}
.hello__text-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  color: #211B12;
  margin: 0 0 8px 0;
}
.hello__text-title._anim {
  -webkit-animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.hello__text-paragraph {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #211B12;
  margin: 0 0 24px 0;
}
.hello__text-paragraph._anim {
  -webkit-animation: slide-in-right 0.3s 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.3s 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.hello__content {
  max-width: 530px;
  padding: 24px 0 0 0;
  margin: 0 auto;
}
.hello__social {
  display: flex;
  justify-content: space-between;
}

.social__list {
  display: flex;
  align-items: center;
}
.social__list li {
  display: inline-block;
  margin: 0 8px 0 0;
  transition: all 0.2s linear;
}
.social__list li:hover {
  transform: translateY(-5px);
}
.social__link span {
  font-size: 24px;
  padding: 6px;
}
.social__download {
  display: inline-flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211B12;
  padding: 7px 8px;
  position: relative;
  transition: all 0.3s linear;
}
.social__download::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 2px;
  width: 100%;
  z-index: -1;
  content: "";
  color: #000 !important;
  background: #BF7506;
  transition: all 0.3s linear;
}
.social__download:hover {
  color: #FFF !important;
  background-color: transparent;
}
.social__download:hover .icon-clip::before {
  color: #FFF !important;
}
.social__download:hover::after {
  bottom: 0%;
  top: auto;
  height: 100%;
}

@-webkit-keyframes hello {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 0 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  90% {
    transform: rotate(-2deg);
  }
}

@keyframes hello {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 0 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  90% {
    transform: rotate(-2deg);
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.lprojects {
  padding: 0 0 20px 0;
  margin: 0 0 100px 0;
}
.lprojects__title {
  margin: 0 0 32px 0;
}
.lprojects__title h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  color: #211B12;
}
.lprojects__title-span {
  display: inline-block;
  color: #BF7506;
}
.lprojects__title-span._anim._active {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1.9s;
          animation-duration: 1.9s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.lprojects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 399px;
  margin: 0 5px 0 0;
}
.card:last-child {
  margin: 0;
}
.card:hover img {
  transform: scale(1.05);
}
.card__img {
  display: block;
  margin: 0 0 16px 0;
  border-radius: 4px;
  overflow: hidden;
}
.card__img img {
  width: 100%;
  display: block;
  transition: all 0.3s linear;
}
.card__body {
  padding: 0 16px;
}
.card__title {
  display: block;
  margin: 0 0 8px 0;
}
.card__title h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #BF7506;
}
.card__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 16px 0;
}
.card__tags-body {
  flex-grow: 0;
  padding: 2px 8px;
  margin: 0 4px 4px 0;
  border: 1px solid #BF7506;
  border-radius: 4px;
}
.card__tags-body span {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #211B12;
}
.card__decription {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211B12;
  margin: 0 0 16px 0;
}
.card__code, .card__demo {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211B12;
  padding: 7px 8px;
  margin: 0 15px 0 0;
  position: relative;
  transition: all 0.3s linear;
}
.card__code::after, .card__demo::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 2px;
  width: 100%;
  z-index: -1;
  content: "";
  color: #000 !important;
  background: #BF7506;
  transition: all 0.3s linear;
}
.card__code:hover, .card__demo:hover {
  color: #FFF !important;
  background-color: transparent;
}
.card__code:hover .icon-clip::before, .card__demo:hover .icon-clip::before {
  color: #FFF !important;
}
.card__code:hover::after, .card__demo:hover::after {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.icon-code {
  margin: 0 4px 0 0;
}

.icon-demo {
  margin: 0 4px 0 0;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
.about {
  padding: 0 0 20px 0;
  margin: 0 0 100px 0;
}
.about__bio {
  display: flex;
  margin: 0 0 40px 0;
}
.about__img {
  flex: 1 0 360px;
  max-width: 360px;
  max-height: 440px;
  border-radius: 20px;
  overflow: hidden;
}
.about__img img {
  width: 100%;
  transform: scale(1.8) translate(5%, 12.5%);
}
.about__bio-info {
  display: inline-block;
  padding: 27px 0 0 0;
  margin: 0 0 0 56px;
}
.about__bio-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #211B12;
  margin: 0 0 16px 0;
}
.about__bio-title span {
  font-size: 32px;
  line-height: 125%;
  color: #BF7506;
}
.about__bio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211B12;
  margin: 0 0 16px 0;
}
.about__bio-keywords {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #DD9C3C;
  margin: 0 0 16px 0;
}
.about__skills-title {
  margin: 0 0 13px;
}
.about__skills-title h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #211B12;
}
.tags__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.tags__item {
  flex-grow: 0;
  padding: 2px 8px;
  margin: 0 4px 0 0;
  border: 1px solid #BF7506;
  border-radius: 4px;
}
.tags__item span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211B12;
}

.contact {
  padding: 0 0 20px 0;
  margin: 0 0 50px 0;
  position: relative;
  overflow: hidden;
}
.contact__hand {
  position: absolute;
  top: 80px;
  right: -300px;
  z-index: -1;
  transition: all 0.2s linear;
}
.contact__hand img {
  width: 100%;
}
.contact__hand._deactivate {
  right: -100%;
}
.contact__hand._active {
  -webkit-animation-name: this;
          animation-name: this;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.contact__hand._tracker-e {
  top: 200px;
}
.contact__hand._tracker-m {
  top: 320px;
}
.contact__thank {
  display: none;
  max-width: 435px;
  margin: 0 auto;
  padding: 0 0 300px 0;
}
.contact__thank._active {
  display: block;
}
.contact__thank-title {
  text-align: center;
  margin: 0 0 16px 0;
}
.contact__thank-title h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 135%;
  color: #211B12;
}
.contact__thank-text {
  text-align: center;
}
.contact__thank-text p {
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  color: #211B12;
}

.thank__hand {
  position: absolute;
  top: 0px;
  right: -100%;
  z-index: -1;
  transition: all 0.2s linear;
}
.thank__hand._active {
  right: -400px;
}
.thank__hand img {
  width: 100%;
}

.form {
  display: block;
  max-width: 435px;
  margin: 0 auto;
  position: relative;
}
.form._deactivate {
  display: none;
}
.form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: all 0.3s linear;
}
.form._sending::after {
  opacity: 0.8;
  visibility: visible;
}
.form__title {
  margin: 0 0 16px 0;
}
.form__title h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #211B12;
}
.form__label {
  position: relative;
  top: 12px;
  left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #83807C;
  padding: 0 8px;
  border-radius: 4px;
  background: #FFF;
}
.form__input {
  display: block;
  font-weight: 500;
  font-size: 20px;
  height: 56px;
  width: calc(100% - 28px);
  padding: 4px 6px 4px 16px;
  margin: 0 0 24px 0;
  color: #DD9C3C;
  background: transparent;
  border: 3px solid #E0DEDC;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s linear;
}
.form__input:hover {
  border-color: #83807C;
}
.form__input:focus {
  border-color: #BF7506;
}
.form__input:active {
  border-color: #DD9C3C;
}
.form__input._error {
  border-color: #d00000;
}
.form__btn {
  text-align: right;
}
.form__btn-link {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211B12;
  background: transparent;
  padding: 7px 8px;
  border: 0;
  position: relative;
  transition: all 0.3s linear;
}
.form__btn-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 2px;
  width: 100%;
  z-index: -1;
  content: "";
  color: #000 !important;
  background: #BF7506;
  transition: all 0.3s linear;
}
.form__btn-link:hover {
  color: #FFF !important;
  background-color: transparent;
}
.form__btn-link:hover .icon-clip::before {
  color: #FFF !important;
}
.form__btn-link:hover::after {
  bottom: 0%;
  top: auto;
  height: 100%;
}

#message {
  height: 141px;
  resize: vertical;
}

.loader-ios {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-animation: iosIntro infinite;
          animation: iosIntro infinite;
  z-index: 1;
}
.loader-ios._sending {
  opacity: 1;
}
.loader-ios svg {
  fill: #868686;
}
.loader-ios svg path:nth-of-type(1) {
  -webkit-animation: pulse 1s infinite linear;
          animation: pulse 1s infinite linear;
}
.loader-ios svg path:nth-of-type(2) {
  -webkit-animation: pulse 1s -0.083s infinite linear;
          animation: pulse 1s -0.083s infinite linear;
}
.loader-ios svg path:nth-of-type(3) {
  -webkit-animation: pulse 1s -0.166s infinite linear;
          animation: pulse 1s -0.166s infinite linear;
}
.loader-ios svg path:nth-of-type(4) {
  -webkit-animation: pulse 1s -0.249s infinite linear;
          animation: pulse 1s -0.249s infinite linear;
}
.loader-ios svg path:nth-of-type(5) {
  -webkit-animation: pulse 1s -0.332s infinite linear;
          animation: pulse 1s -0.332s infinite linear;
}
.loader-ios svg path:nth-of-type(6) {
  -webkit-animation: pulse 1s -0.415s infinite linear;
          animation: pulse 1s -0.415s infinite linear;
}
.loader-ios svg path:nth-of-type(7) {
  -webkit-animation: pulse 1s -0.498s infinite linear;
          animation: pulse 1s -0.498s infinite linear;
}
.loader-ios svg path:nth-of-type(8) {
  -webkit-animation: pulse 1s -0.581s infinite linear;
          animation: pulse 1s -0.581s infinite linear;
}
.loader-ios svg path:nth-of-type(9) {
  -webkit-animation: pulse 1s -0.664s infinite linear;
          animation: pulse 1s -0.664s infinite linear;
}
.loader-ios svg path:nth-of-type(10) {
  -webkit-animation: pulse 1s -0.747s infinite linear;
          animation: pulse 1s -0.747s infinite linear;
}
.loader-ios svg path:nth-of-type(11) {
  -webkit-animation: pulse 1s -0.83s infinite linear;
          animation: pulse 1s -0.83s infinite linear;
}
.loader-ios svg path:nth-of-type(12) {
  -webkit-animation: pulse 1s -0.913s infinite linear;
          animation: pulse 1s -0.913s infinite linear;
}

@-webkit-keyframes pulse {
  50% {
    fill: #868686;
  }
  to {
    fill: rgba(134, 134, 134, 0.4);
  }
}

@keyframes pulse {
  50% {
    fill: #868686;
  }
  to {
    fill: rgba(134, 134, 134, 0.4);
  }
}
@-webkit-keyframes iosIntro {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes iosIntro {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes this {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes this {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer__content {
  padding: 16px 0;
}
.footer__social {
  justify-content: center;
  margin: 0 0 16px 0;
}
.footer__social li {
  margin: 0 30px 0 0;
}
.footer__social li:last-child {
  margin: 0;
}
.footer__copyright p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #211B12;
}

.thanks {
  height: 600px;
  padding: 0 0 20px 0;
  margin: 0 0 50px 0;
  position: relative;
  overflow: hidden;
}
.thanks__hand {
  position: absolute;
  top: 80px;
  right: -200px;
  z-index: -1;
  transition: all 0.2s linear;
}
.thanks__hand img {
  width: 100%;
}
.thanks__hand._anim {
  -webkit-animation: slide-in-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.thanks .container {
  padding: 80px 0 0 0;
}
.thanks__title {
  margin: 0 0 32px 0;
  text-align: center;
}
.thanks__title h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  color: #211B12;
}
.thanks__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
  color: #211B12;
  text-align: center;
}
.thanks__countdown-body {
  text-align: center;
}
.thanks__countdown-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 135%;
  color: #211B12;
}
.thanks__countdown {
  display: inline-block;
  font-weight: 500;
  font-size: 22px;
  line-height: 135%;
  color: #BF7506;
}

@media (max-width: 769px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span, .header__burger::before, .header__burger::after {
    position: absolute;
    right: 0px;
    height: 2px;
    width: 100%;
    background: #BF7506;
    transition: all 0.3s linear;
  }
  .header__burger::before, .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0px;
  }
  .header__burger::after {
    bottom: 0px;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translateY(-50%);
    transition: all 0.2s linear;
  }
  .header__burger._active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger._active span {
    transform: scale(0);
  }
  .header__burger._active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger._scrolled {
    padding: 6px;
    background: #FFF;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  }
  .header__burger._scrolled::before {
    top: 6px;
    right: 6px;
    width: 30px;
  }
  .header__burger._scrolled span {
    right: 6px;
    width: 30px;
  }
  .header__burger._scrolled::after {
    bottom: 6px;
    right: 6px;
    width: 30px;
  }
  .header__burger._scrolled._active {
    padding: 0;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
  }
  .header__burger._scrolled._active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger._scrolled._active span {
    transform: scale(0);
  }
  .header__burger._scrolled._active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 70px 0px 20px 0px;
    overflow: auto;
    transition: all 0.3s linear;
  }
  .header__menu._active {
    top: 0;
  }
  .header__menu._scrolled {
    padding: 70px 0px 20px 0px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0;
    box-shadow: none;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
    text-align: center;
  }
  .header__list li:first-child {
    margin: 0 0 20px 0;
  }
  .header__link {
    font-size: 20px;
  }
  .header__link::after {
    display: none;
  }
}
@media (max-width: 1180px) {
  .hello__hand {
    opacity: 0.3;
  }
  @-webkit-keyframes hello {
    0%, 100% {
      transform: rotate(0deg);
      transform-origin: 0 100%;
      opacity: 0.3;
    }
    10% {
      transform: rotate(2deg);
      opacity: 0.5;
    }
    25% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(4deg);
    }
    75% {
      transform: rotate(-4deg);
    }
    90% {
      transform: rotate(-2deg);
      opacity: 0.5;
    }
  }
  @keyframes hello {
    0%, 100% {
      transform: rotate(0deg);
      transform-origin: 0 100%;
      opacity: 0.3;
    }
    10% {
      transform: rotate(2deg);
      opacity: 0.5;
    }
    25% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(4deg);
    }
    75% {
      transform: rotate(-4deg);
    }
    90% {
      transform: rotate(-2deg);
      opacity: 0.5;
    }
  }
}
@media (max-width: 426px) {
  .hello__text h1 {
    font-size: 42px;
  }
  .hello__text p {
    font-size: 22px;
  }
}
@media (max-width: 376px) {
  .hello__social {
    flex-direction: column;
  }
  .social__list {
    margin: 0 0 6px 0;
  }
  .social__link {
    padding: 6px 0;
  }
}
@media (max-width: 843px) {
  .lprojects__list {
    justify-content: center;
  }
  .card {
    margin: 0 5px 16px 0;
  }
}
@media (max-width: 769px) {
  .lprojects {
    margin: 0 0 50px 0;
  }
  .card {
    margin: 0 0 16px 0;
  }
}
@media (max-width: 426px) {
  .lprojects__title h2 {
    font-size: 42px;
  }
  .card__title h3 {
    font-size: 22px;
  }
}
@media (max-width: 769px) {
  .about {
    margin: 0 0 50px 0;
  }
  .about__bio {
    flex-direction: column-reverse;
  }
  .about__img {
    margin: 0 auto;
  }
  .about__bio-info {
    padding: 0;
    margin: 0;
  }
  .tags__item {
    margin: 0 4px 4px 0;
  }
}
@media (max-width: 1180px) {
  .contact__hand {
    opacity: 0.3;
  }
  @-webkit-keyframes this {
    0% {
      transform: translateX(0px);
      opacity: 0.3;
    }
    25% {
      transform: translateX(10px);
      opacity: 0.5;
    }
    50% {
      transform: translateX(0px);
      opacity: 0.5;
    }
    75% {
      transform: translateX(10px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(0px);
      opacity: 0.3;
    }
  }
  @keyframes this {
    0% {
      transform: translateX(0px);
      opacity: 0.3;
    }
    25% {
      transform: translateX(10px);
      opacity: 0.5;
    }
    50% {
      transform: translateX(0px);
      opacity: 0.5;
    }
    75% {
      transform: translateX(10px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(0px);
      opacity: 0.3;
    }
  }
}
@media (max-width: 769px) {
  .contact__hand._deactivate {
    right: -300%;
  }
  .thank__hand {
    right: -300%;
  }
}
@media (max-width: 426px) {
  .contact__hand {
    top: 90px;
    left: 90px;
  }
}
@media (max-width: 769px) {
  .thanks__hand {
    top: 150px;
  }
}
@media (max-width: 376px) {
  .thanks__hand {
    top: 230px;
  }
}
.projects {
  padding: 0 0 20px 0;
  margin: 0 0 100px 0;
}
.projects__title {
  margin: 0 0 32px 0;
}
.projects__title h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  color: #211B12;
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-me {
  margin: 50px 0 0 0;
}
.about-me__title {
  margin: 0 0 32px 0;
}
.about-me__title h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  color: #BF7506;
}
.accordion__item {
  margin: 0 0 10px 0;
  border: 2px solid #E0DEDC;
  border-radius: 4px;
  overflow: hidden;
}
.accordion__item:last-child {
  margin-bottom: 0;
}
.accordion__item:hover {
  border-color: #BF7506;
}
.accordion__item._focus {
  border-color: #BF7506;
}
.accordion__title {
  position: relative;
  padding: 15px 0;
  cursor: pointer;
}
.accordion__title::before, .accordion__title::after {
  content: "";
  width: 10px;
  height: 1px;
  background: #DD9C3C;
  position: absolute;
  top: 27px;
  transition: all 0.3s linear;
}
.accordion__title::before {
  transform: rotate(40deg);
  left: 10px;
}
.accordion__title::after {
  transform: rotate(-40deg);
  left: 17.5px;
}
.accordion__title._active::before {
  transform: rotate(-40deg);
}
.accordion__title._active::after {
  transform: rotate(40deg);
}
.accordion__title h4 {
  font-size: 22px;
  font-weight: 500;
  color: #211B12;
  padding: 0 0 0 35px;
}
.accordion__content {
  display: none;
  padding: 10px 15px 20px;
}
.accordion__content ul li {
  position: relative;
  padding-left: 10px;
}
.accordion__content ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: #121314;
  border-radius: 50%;
}
.accordion__content p,
.accordion__content ul li {
  line-height: 125%;
  font-size: 20px;
  font-weight: 300;
  color: #211B12;
}

.my-contacts {
  padding: 0 0 20px 0;
  margin: 0 0 100px 0;
}
.my-contacts__title {
  margin: 0 0 32px 0;
}
.my-contacts__title h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  color: #211B12;
}
.my-contacts__content {
  display: flex;
  flex-wrap: wrap;
}
.my-contacts__map {
  flex: 0 1 50%;
  max-width: 300px;
  margin: 0 auto;
  transition: all 0.2s linear;
}
.my-contacts__map._anim {
  -webkit-animation: slide-in-left 0.5s 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.5s 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.my-contacts__map iframe {
  border-radius: 20px;
  transition: all 0.2s linear;
}
.my-contacts__map iframe:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}
.my-contacts__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 0 1 50%;
}
.my-contacts__list._anim {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.my-contacts__link {
  display: inline-block;
  font-weight: 500;
  font-size: 22px;
  line-height: 135%;
  color: #211B12;
  transition: all 0.2s linear;
}
.my-contacts__link:hover {
  color: #DD9C3C;
}
.my-contacts__link:hover > .icon-telegram {
  transform: translateX(-15px);
}
.my-contacts__link:hover > .icon-github {
  transform: translateX(-15px);
}
.my-contacts__link:hover > .icon-instagram {
  transform: translateX(-15px);
}
.my-contacts__link:hover > .icon-linkedin {
  transform: translateX(-15px);
}
.my-contacts__link .icon-telegram,
.my-contacts__link .icon-github,
.my-contacts__link .icon-instagram,
.my-contacts__link .icon-linkedin {
  display: inline-block;
  margin: 0 15px 0 0;
  font-size: 22px;
  transition: all 0.2s linear;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 843px) {
  .projects__list {
    justify-content: center;
  }
  .card {
    margin: 0 5px 16px 0;
  }
}
@media (max-width: 769px) {
  .projects {
    margin: 0 0 50px 0;
  }
  .card {
    margin: 0 0 16px 0;
  }
}
@media (max-width: 426px) {
  .projects__title h2 {
    font-size: 42px;
  }
  .card__title h3 {
    font-size: 22px;
  }
}
@media (max-width: 769px) {
  .my-contacts {
    margin: 0 0 50px 0;
  }
  .my-contacts__title h2 {
    font-size: 42px;
  }
  .my-contacts__content {
    align-items: center;
    flex-direction: column-reverse;
  }
  .my-contacts__list {
    flex-direction: row;
    margin: 0 0 20px 0;
  }
  .my-contacts__list li {
    flex: 0 1 50%;
    margin: 0 0 10px 0;
    text-align: center;
  }
}