@media (max-width:1180px){
   .contact__hand{
      opacity: 0.3;
   }
   
   @keyframes this{
      0%{
         transform: translateX(0px);
         opacity: 0.3;
      }
      25%{
         transform: translateX(10px);
         opacity: 0.5;
      }
      50%{
         transform: translateX(0px);
         opacity: 0.5;
      }
      75%{
         transform: translateX(10px);
         opacity: 0.5;
      }
      100%{
         transform: translateX(0px);
         opacity: 0.3;
      }
   }
}
@media (max-width:769px){
   .contact__hand{
      &._deactivate{
         right: -5000px;
         opacity: 0;
      }
   }
   .thank__hand{
      right: -300%;
   }
}
@media (max-width:426px){
   .contact__hand{
      top: 90px;
      left: 90px;
   }
}