@media (max-width:843px){
   .lprojects__list{
      justify-content: center;
   }
   .card{
      margin: 0 5px 16px 0;
   }
}
@media (max-width:769px){
   .lprojects{
      margin: 0 0 50px 0;
   }
   .card{
      margin: 0 0 16px 0;
   }
}
@media (max-width:426px){
   .lprojects__title{
      & h2{
         font-size: 42px;
      }
   }
   .card__title{
      & h3{
         font-size: 22px;
      }
   }
}