@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?jf4npe');
  src:  url('../fonts/icons/icomoon.eot?jf4npe#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?jf4npe') format('truetype'),
    url('../fonts/icons/icomoon.woff?jf4npe') format('woff'),
    url('../fonts/icons/icomoon.svg?jf4npe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clip:before {
  content: "\e900";
  font-size: 22px;
  color: $m-color;
  transition: all 0.3s linear;
}
.icon-code:before {
  content: "\e901";
}
.icon-demo:before {
  content: "\e902";
}
.icon-github:before {
  content: "\e903";
  color: #3e75c3;
}
.icon-instagram:before {
  content: "\e904";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(127.77% 127.77% at 14.93% 100.35%, #FFB140 0%, #FF5445 25.6%, #FC2B82 59.9%, #8E40B7 100%);
}
.icon-linkedin:before {
  content: "\e905";
  color: #007ebb;
}
.icon-send:before {
  content: "\e906";
}
.icon-telegram:before {
  content: "\e907";
  color: #229ed9;
}